<!DOCTYPE html>
<html>
<head>
    <title>Country data</title>
    <meta charset="utf-8" />
    <script src="./bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./app.js" type="text/javascript" charset="utf-8"></script>
</head>
<body ng-app="country" ng-controller="countryController">
    <header>
        <h1>Country selector</h1>
    </header>
    <main>
        Search: <input ng-model="countrySearch">
        <country-detail></country-detail>
        <ul class="countrylist">
            <li ng-click="selectCountry(country)" ng-repeat="country in countries | nameOrCodeMatch:countrySearch">{{ country.name }}</li>
        </ul>
    </main>
    
</body>
</html>
